*{
    margin:0;
    padding:0;
}
html,body{
    height:max-content;
    
    

}
.detail1{
    display:flex;
    background-color: rgb(254, 253, 253);
    gap:60px;
    margin: 30px;
    border-radius: 20px;
    padding-right: 8px;
    height: 800px;
}
.description1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: max-content;
    padding-right: 20px;
   
}
.type1{
font-size: 15px;
height:20px;
text-align: center;
width:80px;
margin-top: 20px;
color:rgb(10, 10, 202) ;
background-color: rgb(210, 232, 240);

border-radius: 25px;
}
.name1{
    font-weight: 900;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img1{
    margin:40px;
    height: max-content;
}
.star1{

 height:100px;
 width:100%;
 scale: 1.04;
}
.price1{
   padding: 7px;
   font-weight: 900;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(20, 20, 146);
}
.discount1{
    padding: 7px;
    color: rgb(137, 137, 150);
    text-decoration: line-through;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.save1{
    padding: 7px;
    color:rgb(222, 68, 68);
    font-size: medium;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para1{

margin-top: 15px;
font-size: 18px;
padding-right: 20px;
text-align: justify;
margin-left: 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.rate1{
    display:flex;
    margin: 20px;
    padding-top: 20px;
    height:50px;
    width:100%;
    gap:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.addcart1{
    height: max-content;
    width: max-content;
}
.addcart1 button{
    height:40px;
    width:180px;
    border-radius: 20px;
    background-color: white;
    transition:transform 0.3s ease;
}
.addcart1 button:hover{
    transform: scale(1.1);
    background-color: rgb(249, 249, 133);
}
.buy1{
    height: max-content;
    width: max-content;
}
.buy1 button{
    height:40px;
    width:180px;
    border-radius: 20px;
    background-color: white;
    transition:all 0.3s ease;
}
.buy1 button:hover{
   background-color: rgb(185, 235, 136);
    transform: scale(1.1);
    
}
